/* || 1440 */

/* || header */

@media (max-width: 1440px) {
    header i {
        display: none;
    }

}

/* || 1024 */

/* ||header */

@media (max-width: 1024px) {
    header i {
        display: none;
    }

    /* || first section */


    .headline-section {
        height: 862px;
        flex-direction: column;
        gap: 0;
    }

    .headline-first-section {
        width: 90%;
        height: 348px;
    }

    .headline-first-section h1,
    .headline-first-section > p {
        width: 70%;
        text-align: center;
        margin: 0 auto;
    }

    .headline-first-section > div {
        margin: 0 auto;
        display: flex;
        width: 50%;
    }

    
    .headline-first-section > div p {
        width: 100%;
    }

    .headline-last-section {
        width: 960px;
        height: 450px;
        border-radius: 12px;
        background-image: url(../images/img-\(2\).png);
        background-repeat: no-repeat;
    }

    /* || second-section */

    .feature-section > div {
        width: 279px;
    }

    /* || black-section */

    .black-section {
        height: 895px;
        display: flex;
        flex-direction: column;
    }

    .black-section div:first-child {
        width: 960px;
        height: 650px;
        background-image: url(../images/black-sectio2.png);
        background-repeat: no-repeat;
        margin-top: 32px;
    }

    .black-section > div:last-child {
        width: 90%;
        height: 264px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .black-section > div:last-child h4 {
        width: 415px;
    }

    .black-section > div:last-child div:last-child {
        width: 415px;
    }

    /* || background-section */

    .background-section {
        width: 100%;
        height: 588px;
        background-image: url(../images/backbround2.png);
    }

    /* footer */


    .footer {
        flex-direction: column;
        align-items: flex-start;
        padding-left: 32px;
    }

    .footer > div:first-child{
        height: 30px;
    }
    .footer div:last-child div:last-child {
        display: none;
    }
}



/* || 744 */

/* ||header */


@media (max-width: 744px) {
    header i {
        display: none;
    }
    
    header > div {
        padding: 0;
        width: 744px;
    }

     /* || first section */

    .headline-section {
        height: 760px;
        flex-direction: column;
    }

    .headline-first-section {
        width: 100%;
    }

    .headline-first-section h1,
    .headline-first-section > p {
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }

    .headline-first-section h1 {
        font-size: 40px;
        line-height: 48px;
    }

    .headline-first-section > div {
        display: flex;
        flex-direction: column;
        width: 60%;
        text-align: center;
    }

    .headline-last-section {
        width: 696px;
        height: 500px;
        border-radius: 12px;
        background-image: url(../images/img-\(1\).png);
        background-repeat: no-repeat;
    }

    /* || second-section */

    .feature-section {
        height: 414px;
        flex-direction: column;
    }

    .feature-section > div {
        width: 100%;
        align-items: center;
        text-align: center;
    }

    /* || black-section */

    .black-section div:first-child {
        width: 696px;
        height: 550px;
        background-image: url(../images/black-sectio3.png);
        background-repeat: no-repeat;
        /* margin-top: 32px; */
    }

    .black-section {
        height: 917px;
        display: flex;
        align-items: center;
    }

    .black-section > div:last-child {
        flex-direction: column;
        align-items: center;
    }

    .black-section > div:last-child h4 {
        width: 90%;
        text-align: center;
    }

    .black-section > div:last-child div:last-child {
        width: 90%;
        text-align: center;
    }
    .black-section > div:last-child div:last-child p:first-child {
        margin-bottom: 29px;
    }

    /* || background-section */

    .background-section {
        width: 100%;
        height: 500px;
        background-image: url(../images/backbround3.png);
        background-repeat: no-repeat;
    }

    /* ||footer */

    .footer {
        width: 100%;
        height: 242px;
    } 
    
    .footer > div:last-child {
        width: 100%;
    }
}

/* || 375 */

/* ||header */

@media (max-width: 376px) {

    header > div {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-left: 24px;
        padding-right: 20px;
    }

    header nav,
    header span {
        display: none;
    }

    header > div > div:last-child {
        width: 25px;
        height: 25px;
        border-radius: 50%;
    }

    header i {
        width: 15px;
        height: 15px;
        color: #fff;
    }

     /* || first section */

    .headline-section {
        height: 695px;
        display: flex;
        flex-direction: column;
    } 

    .headline-first-section > div {
        display: flex;
        flex-direction: column;
        gap: 0px;
        width: 100%;
        text-align: center;
    }

    .headline-first-section > div > p {
        width: 90%;
        margin-bottom: 25px;
    }

    .headline-last-section {
        width: 327px;
        height: 309px;
        border-radius: 12px;
        background-image: url(../images/img.png);
        background-repeat: no-repeat;
    }

      /* || second-section */

    .feature-section {
        height: 510px;
    }

    
    /* || black-section */

    .black-section {
        height: 523px;
        padding-bottom: 24px;
    }

    .black-section div:first-child {
        width: 327px;
        height: 195px;
        background-image: url(../images/black-sectio4.png);
        background-repeat: no-repeat;
    }

    .black-section > div:last-child h4 {
        font-size: 16px;
        width: 100%;
    }

    .black-section > div:last-child p {
        font-size: 14px;
        width: 100%;
    }

    /* || background-section */

    .background-section {
        width: 100%;
        height: 500px;
        background-image: url(../images/backbround4.png);
    }

    /* || footer */

    .footer {
        width: 100%;
        height: 340px;
        align-items: center;
    } 

    .footer > div:first-child{
        width: 150px;
    }

    .footer > div > div{
        width: 98px;
    }

    .footer > div {
        gap: 30px;
    }
}

